/* Reset some default styles */
body, h1, h2, p, ul, li, img, span {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F9DBBD;
  }
  
  header {
    background-color: #FCA17D;
    color: #0D0628;
    padding: 10px 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .left-section {
    display: flex;
    align-items: center;
  }
  
  .middle-section {
    flex: 1;
    text-align: center;
    height: 100%;
    float: right;
    background-color: #FCA17D;
    color: aliceblue;
    padding: 15px 12px;
    border: none;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }

  .logo2 img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .logo p {
    font-size: 24px;
    font-family: 'Arimo', sans-serif;
  }

button {
  background-color: #FCA17D;
  border: none;
  text-decoration: none;
}

button:hover {
  background-color: #DA627D;
}

  .nav-links {
    list-style: none;
    display: flex;
    background-color: #FCA17D;
    border: none;
    color: #ffffff;
    font-size: 18px;
  }
  
.nav-links li{
  text-decoration: none;
}

  .nav-links a {
    color: #0D0628;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    background-color: #DA627D;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    color: #0D0628;
    text-decoration: none;
    height: max-content;
  }

  .hero {
    background-image: url("jakub-dziubak-XtUd5SiX464-unsplash.jpg");
    height: 50%;
    background-size: cover;
    background-position: center;
    color: #0D0628;
    text-align: center;
    padding: 120px 0;
    max-width: 100%;
    height: auto;
  }
  
  .hero h1 {
    font-size: 45px;
    margin-bottom: 20px;
    font-family: 'Arimo', sans-serif;
    text-align: left;
    padding: 50px 0px 0px 50px;
  }

  .hero p {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding: 50px;
  }
  
  .toggle {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .toggle button {
    padding: 10px 20px;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    cursor: pointer;
    outline: none;
    background-color: #FCA17D;
  }

#drinksBtn {
  margin: 10px 50px 0 0;
}
  .menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .item {
    border: 2px solid #DA627D;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FCA17D;
  }
  
  .item img {
    max-width: 300px;
    height: 450px;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .item h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Arimo', sans-serif;
  }
  
  .item p {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .item span {
    display: block;
    font-size: 20px;
    font-weight: bold;
  }
  
  .hidden {
    display: none;
  }

  footer {
    background-color: #FCA17D;
    color: #0D0628;
    text-align: center;
    padding: 10px 0;
    font-family: 'Arimo', sans-serif;
  }
  